<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>AE Pau-K</title>
    <link rel="stylesheet" href="../styles/root.css">
    <link rel="stylesheet" href="../styles/com_funcionem.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/blog.html">Blog</a></li>
                <li><a href="../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <div class="foto-wrapper">
            <img src="https://acortar.link/GmS1cC" alt="Foto Unitats" class="foto-container">
            <div class="foto-titol">
                <img src="../assets/gear_icon.png" alt="icona engranatge">
                <h1>COM FUNCIONEM</h1>
            </div>
        </div>
    
    <div class="cards-grid">
        <div class="card">
            <h2 class="card-titol">CONSELL</h2>
            <p>
                Conjunt de caps i/o reunió on els caps 
                resolen problemes, s'estableixen calendaritzacions,
                es fa un seguiment de tot el cau, però 
                sobretot es prenen decisions en assamblea. 
                Tothom té veu i les decisions es prenen per 
                unanimitat (excepcionalment per votació).
        </div>

        <div class="card">
            <h2 class="card-titol">CÀRRECS</h2>
            <p>
                Cada any, els diferents membres del consell
                de caps es reparteixen càrrecs per tal de 
                tirar endavant i funcionar de forma organitzada 
                amb el nostre projecte, el cau
            </p>
        </div>

        <div class="card">
            <h2 class="card-titol">CAPS</h2>
            <p>
                Joves voluntaris que formen part del monitoratge 
                del cau, sense benefici econòmic però molt involucrats/es
            </p>
        </div>

        <div class="card">
            <h2 class="card-titol">GESTIÓ</h2>
            <p>
                L'agrupament obté ingressos de l'ajuntament de cerdanyola
                i de les quotes anuals de cada membre (a més a més de les
                sortides). Les despreses es destinen a la compra de material,
                a l'assegurança, la subenció de sortides, etc.
            </p>
        </div>

        <div class="card">
            <h2 class="card-titol">UNITATS</h2>
            <p>
                Els diferents grups d'infants i joves que 
                composen el cau segons l'edat
            </p>
        </div>

        <div class="card">
            <h2 class="card-titol">CALENDARI</h2>
            <p>
                Cursos anuals d'octubre a juliol, i els
                dividim en 3 trimestres (equivalents als
                escolars). Es programa un calendari de 
                trimestre grupal per totes les unitats
                (on es concreten les activitats conjuntes 
                i els dies lluires), posteriorment cada 
                unitat complementa el seu programa.
            </p>
        </div>

        <div class="card">
            <h2 class="card-titol">QUÈ FEM?</h2>
            <p>
                Els diferents grups d'infants i joves que composen
                el cau segons l'edat depenent de la unitat les 
                activitats canvien, tot i així, es procura enfocar-les
                amb el contacte amb la natura i el coneixement de la muntanya.
            </p>
        </div>

        <div class="card">
            <h2 class="card-titol">QUI POT ANAR-HI?</h2>
            <p>
                El cau està obert a qualsevol noi i noia d'entre
                6 i 18 anys, sense discriminació de cap mena. 
                S'establirà un nombre màxim de nois i noies per 
                unitat, i si està plena es podrà confeccionar 
                una llista d'espera.
            </p>
        </div>
    </div>

</body>
</html>
