<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacta'ns | AE Pau-K</title>
    <link rel="stylesheet" href="../styles/root.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/blog.html">Blog</a></li>
                <li><a href="../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <section class="banner-onsom">
        <div class="banner-imatge">
            <div class="banner-titol">
                <img src="../assets/tenda.webp" alt="icona tenda">
                <h1>ON SOM?</h1>
            </div>
        </div>
    </section>

    <section class="contacte-wrapper">
        <div class="contacte-info">
            <div class="contacte-titol">
                <span class="arrova">@</span>
                <h2>Contacta'ns</h2>
            </div>
            <ul class="contacte-llista">
                <li>
                    <p class="etiqueta">Via correu...</p>
                    <a href="mailto:aepaucasals@gmail.com">aepaucasals@gmail.com</a>
                </li>
                <li>
                    <p class="etiqueta">Via facebook...</p>
                    <a href="https://www.facebook.com/aepaucasals" target="_blank">
                        <img src="../assets/facebook.png" alt="Facebook AE Pau-K">
                    </a>
                </li>
                <li>
                    <p class="etiqueta">O vine'ns a veure!</p>
                    <p class="adreca">Carrer de la Ginesta s/n, Cerdanyola del Vallès</p>
                </li>
            </ul>
        </div>

        <div class="contacte-mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.961171512559!2d2.136400574912696!3d41.48344149003336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4978c477572c7%3A0xa11f57c669d2bf0d!2sAgrupament%20Escolta%20Pau%20Casals!5e0!3m2!1sca!2ses!4v1779362080250!5m2!1sca!2ses"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>
</body>
</html>