<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>AE Pau-K</title>
    <link rel="stylesheet" href="../styles/root.css">
    <link rel="stylesheet" href="../styles/que_fem.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/blog.html">Blog</a></li>
                <li><a href="../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="foto-wrapper">
            <img src="../assets/mountain_night.jpg" alt="Foto inici" class="foto-container">
            <div class="foto-titol">
                <img src="../assets/mochi.png" alt="icona">
                <h1>ACTIVITATS</h1>
            </div>
        </div>
        <div class="main-container">
            <h1>QUÈ ÉS EL CAU?</h1>
            <div class="small-container">
                <div>
                    <img src="../assets/rotllana.jpg" alt="Rotllana">
                    <h1>Activitats Setmanals</h1>
                </div>
                <div>
                    <p>
                        Es duen a terme activitats diverses amb 
                        dinàmiques, visites a diferents llocs 
                        de Cerdanyola, històries... Són les activitats
                        més comuns. Com que els i les caps som 
                        voluntaris joves i també treballem o estudiem,
                        els horaris varien i s'anuncien amb una setmana d'antel·lació.
                    </p>
                </div>
                <div>
                    <h3>
                        <img src="https://images.vexels.com/media/users/3/142363/isolated/svg/76cc00e3681f38ed4956be2394cccd38.svg" alt="rellotge">
                        Quan?
                    </h3>
                    <p>Dissabtes o diumenges</p>
                    <h3>
                        <img src="../assets/mapa.png" alt="Mapa">
                        On?
                    </h3>
                    <p>Al Cau o per Cerdanyola</p>
                </div>
            </div>

            <div class="small-container">
                <div>
                    <img src="../assets/capdesetmana.jpg" alt="Cap de Setmana">
                    <h1>Caps de Setmanes fora</h1>
                </div>
                <div>
                    <p>
                        Són espais més llargs i distesos que ens 
                        permeten per tant treballar els nostres 
                        objectius amb més calma i profunditat, i 
                        que sobretot són imprescindibles per a 
                        coneixer-nos més, cohesionar-nos, i anar 
                        formant el sentiment d'unitat que només 
                        creix amb les experiències comunes i els 
                        records que anem creant.
                    </p>
                    <p style="font-style: italic;">
                        Solen durar des de dissabte mati fins diumenge 
                        tarda, i el preu està inclòs dins les quotes 
                        anuals
                    </p>
                </div>
                <div>
                    <h3>
                        <img src="https://images.vexels.com/media/users/3/142363/isolated/svg/76cc00e3681f38ed4956be2394cccd38.svg" alt="rellotge">
                        Quan?
                    </h3>
                    <p>Un cop al trimestre</p>
                    <h3>
                        <img src="../assets/mapa.png" alt="Mapa">
                        On?
                    </h3>
                    <p>Per Catalunya!</p>
                </div>
            </div>

            <div class="small-container">
                <div>
                    <img src="../assets/tendes.png" alt="Tendes Campament">
                    <h1>Campaments de Primavera</h1>
                </div>
                <div>
                    <p>
                    Es tracta de 5 dies que passem fora durant 
                    les vacançes de Setmana Santa, que conclouen
                    el segon trimestre del cau. És la oportunitat
                    perfecte per a envoltar-nos de naturalesa i 
                    muntanya, per a viure l'escoltisme i el 
                    companyerisme pur.
                    </p>
                </div>
                <div>
                    <h3>
                        <img src="https://images.vexels.com/media/users/3/142363/isolated/svg/76cc00e3681f38ed4956be2394cccd38.svg" alt="rellotge">
                        Quan?
                    </h3>
                    <p>5 primers dies de setmana santa (de dissabte a dimecres)</p>
                    <h3>
                        <img src="../assets/mapa.png" alt="Mapa">
                        On?
                    </h3>
                    <p>Per Catalunya!</p>
                </div>
            </div>

            <div class="small-container">
                <div>
                    <img src="https://www.unioexcursionistavic.org/wp-content/uploads/2018/11/PedraforcaWEB_OK.jpg" alt="Campaments d'estiu">
                    <h1>Campaments d'estiu</h1>
                </div>
                <div>
                    <p>
                    Banyar-se al riu, travessar un parc natural,
                    viure en un bosc de follets, fer una ruta 
                    esgotadora que et farà sentir orgullósó/a, 
                    plantar el foulard dalt d'un cim, fer la 
                    gimcana d'apropament a la natura, menjar 
                    aquells macarrons tan esperats, el foc de 
                    camp... Els campaments són l'ocasió d'una 
                    aventura, el moment per gaudir de nous paisatges,
                    descobrir el país i viure a prop de la 
                    natura. Un entorn privilegiat per a la 
                    convivència, ideal per a la culminació 
                    d'un projecte que s'ha anat construint 
                    al llarg del curs. 
                    </p>
                </div>
                <div>
                    <h3>
                        <img src="https://images.vexels.com/media/users/3/142363/isolated/svg/76cc00e3681f38ed4956be2394cccd38.svg" alt="rellotge">
                        Quan?
                    </h3>
                    <p>Última setmana de juliol (de dissabte a diumenge)</p>
                    <h3>
                        <img src="../assets/mapa.png" alt="Mapa">
                        On?
                    </h3>
                    <p>Als pirineus catalans!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>