<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>AE Pau-K</title>
    <link rel="stylesheet" href="../styles/root.css">
    <link rel="stylesheet" href="../styles/unitats.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/blog.html">Blog</a></li>
                <li><a href="../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        <div class="foto-wrapper">
            <img src="../assets/bruixola.jpg" alt="Foto Unitats" class="foto-container">
            <div class="foto-titol">
                <img src="../assets/petjada.png" alt="icona petjada">
                <h1>UNITATS</h1>
            </div>
        </div>

        <div class="unitats-llista">
            <div class="unitat-fila">
                <div class="unitat-bloc estol">
                    <h2 class="unitat-nom">Estol</h2>
                    <p class="unitat-edat">de 6 a 8 anys</p>
                </div>
                <div class="unitat-text">
                    <p>
                        En una època de canvis molt importants a nivell
                        físic i mental, adquirim cada cop més una progressiva
                        autonomia relativa als familiars i comencem a trobar el
                        nostre lloc al món. Ens introduïm a l'escoltisme, a la
                        natura, i reforcem el sentiment de grup i expressió 
                        personal. No fem ruta, encara ens estem adaptant a 
                        les caminades llargues!
                    </p>
                </div>
            </div>

            <div class="unitat-fila">
                <div class="unitat-bloc llops">
                    <h2 class="unitat-nom">Llops</h2>
                    <p class="unitat-edat">de 9 a 11 anys</p>
                </div>
                <div class="unitat-text">
                    <p>POSA AQUÍ EL TEXT DELS LLOPS</p>
                </div>
            </div>

            <div class="unitat-fila">
                <div class="unitat-bloc raiers">
                    <h2 class="unitat-nom">Raiers</h2>
                    <p class="unitat-edat">de 12 a 14 anys</p>
                </div>
                <div class="unitat-text">
                    <p>
                        Ja tenim ben interioritzat l'escoltisme i tot
                        el que comporta, és per això que comencem a 
                        agafar més autonomia. Els raiers ens hem de 
                        recolzar una als altres, és una època on 
                        comencem a formar-nos com a persones i 
                        ningú pot caure del rai. Per Setmana Santa 
                        i Campaments, marxem de ruta, amb possibilitat
                        a l'estiu d'anar per qualsevol lloc de la Península.
                    </p>
                </div>
            </div>

            <div class="unitat-fila">
                <div class="unitat-bloc seccio">
                    <h2 class="unitat-nom">Secció</h2>
                    <p class="unitat-edat">de 15 a 17 anys</p>
                </div>
                <div class="unitat-text">
                    <p>
                        És el temps decisiu per als ideals, per
                        a les preguntes i les ambicions. Noies i
                        nois esdevenen els veritables protagonistes
                        de la vida de la unitat.
                    </p>
                </div>
            </div>

            <div class="unitat-fila">
                <div class="unitat-bloc clan"> 
                    <h2 class="unitat-nom">Klan</h2>
                    <p class="unitat-edat">+17 anys</p>
                </div>
                <div class="unitat-text">
                    <p>
                        POSA AQUÍ EL TEXT DE LA KLAN
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>