<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>ACTIVITATS</title>
    <link rel="stylesheet" href="../../styles/root.css">
    <link rel="stylesheet" href="../../styles/blog.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../../templates/blog.html">Blog</a></li>
                <li><a href="../../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <article class="post">
            <a href="../blog.html" class="post-tornar">← Tornar al blog</a>

            <h1 class="post-titol">Activitats de les unitats!</h1>
            <p class="post-data">31 de maig de 2026</p> 

            <div class="post-contingut">
                <h2>El cap de setmana del 20-21:</h2>
                <p>
                    Els Estols vam proposar-nos recuperar la flora de Collserola fent un herbari, recollint plantes en base a una guia de plantes que ens va arribar per correu misteriosament. L'objectiu era conèixer les problemàtiques que hi ha en quant a conservació de boscos. Per veure de primera mà els problemes vam anar, ni més ni menys caminant fins al laberint d'Horta (Barcelona). Realment vam poder veure com canviava el paisatge d'una vessant (Vallès) a l'altra (Barcelona) amb una deterioració de les muntanyes important. Amb aquestes reflexions vam acabar l'excursió ben cansats. Després de dinar vam fer tres equips per resoldre el laberint d'Horta (s'ha de dir que alguns caps, és a dir jo, ens vam perdre més que els estols...). Una gran caminada, sou molt graaaans estols! (Fotos a baix!) <br>
                    <br> Aquest cap de setmana els llops hem marxat a la mogollops!!! Hem viscut moltes experiències, i sobretot hem conegut a mooooolta gent!! En un altre post explicarem amb molta més quantitat de detall tot el que vam viure. <br>
                    <br> Els i les joves de Secció vam fer molta feina! Vam fer feina de la Pau-kdada: fer instància, tancar llista de material i espais que ens caldran, fer descripció de les activitats, i ja hem convidat a uns 6 caus! Això ja ha agafat forma senyors i senyores! 💪🏿🎉 <br>
                    <br> També vam parlar de la ruta d'estiu i vam decidir que la farem just abans de la ruta de campes, i les empalmarem!! Així que passarem les dues últimes setmanes de juliol tots junts, fent Cau... bff quines ganes! 😍 <br>
                    <br> Entre una cosa i l'altra vam aconseguir, després de varis intents, fer l'estrella! (video), i al final de tot vam retransmetre per video el sorteig que havíem fet per la campanya econòmica, que ja té una feliç i afortuntada guanyadora. <br>
                </p>

                <h2>El cap de setmana del 27-28 maig:</h2>
                <p>
                    Estol es prepara per el cap de setmana vinent, que marxarem tot el cap de setmana. Per preparar-se hem construit una mascota per a cadascú, un animaló dels desitjos on podrem posar els nostres pensaments perque ens ajudi a resoldre els problemes que tinguem... És molt especial i ha sortit moooolt rebé. <br>
                    <br> Els Llops  després de la gran experiència viscuda la setmana anterior, ens vam quedar a casa, al Cau. Vam començar fent un joc que vam aprendre a la Mogollops però després vam conèixer un grup d'amics que s'estimaven molt però tenien alguns problemes interns de convivència. Això ens va portar a fer diferents activitats, a parlar sobre la relació que teníem entre nosaltres, si ens respectem, etc... Al final vam estar d'acord en que hi havien un seguit de passos que havíem de seguir per que la convivència a la unitat fos bona i respectuosa. I com que sabem que la nostra memòria no es precisament com la d'un elefant, ho vam deixar per escrit, perquè no se'n oblides. D'aquesta manera també, si en algun moment sorgeix cap tipus de conflicte poder anar al super chachiposter de colors i recordar tots els consells sobre convivència que vam dir. (A baix us deixem un seguit de fotos perquè pogeu veure com d'artistes som) <br>
                    <br>  Secció marxa a la PioGimcana de Caldes de Montbuí! És una trobada de pioners (secció) d'altres caus... Esperem a veure com els hi anirà, segur que s'ho passen tan bé com saben ells i elles :) 
                </p>

                <h2>Altres fotos</h2>

                <div class="carrusel">
                    <div class="carrusel-pista">
                        <img id="acts1"  src="../../assets/blog/acts1/act1.webp"  alt="Foto 1">
                        <img id="acts1"  src="../../assets/blog/acts1/acts2.jpg"  alt="Foto 2">
                        <img id="acts1"  src="../../assets/blog/acts1/acts3.jpg"  alt="Foto 3">
                        <img id="acts1"  src="../../assets/blog/acts1/acts4.webp"  alt="Foto 4">
                        <img id="acts1"  src="../../assets/blog/acts1/acts5.webp"  alt="Foto 5">
                        <img id="acts1"  src="../../assets/blog/acts1/acts6.webp"  alt="Foto 6">
                        <img id="acts1"  src="../../assets/blog/acts1/acts7.jpg"  alt="Foto 7">
                        <img id="acts1"  src="../../assets/blog/acts1/acts8.jpg"  alt="Foto 8">
                        <img id="acts1"  src="../../assets/blog/acts1/acts9.jpg"  alt="Foto 9">
                        <img id="acts1"  src="../../assets/blog/acts1/acts10.jpg"  alt="Foto 10">
                    </div>
                    <button class="fletxa fletxa-esq" onclick="this.parentElement.querySelector('.carrusel-pista').scrollBy({left: -this.parentElement.clientWidth, behavior: 'smooth'})"><</button>
                    <button class="fletxa fletxa-dre" onclick="this.parentElement.querySelector('.carrusel-pista').scrollBy({left: this.parentElement.clientWidth, behavior: 'smooth'})">></button>
                </div>
            </div>

            <div class="post-etiquetes">
                <span class="etiqueta">#llops</span>
                <span class="etiqueta">#excursió</span>
            </div>
        </article>
    </div>
</body>
</html>
