<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>EXCURSIÓ LLOPS</title>
    <link rel="stylesheet" href="../../styles/root.css">
    <link rel="stylesheet" href="../../styles/blog.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../../templates/blog.html">Blog</a></li>
                <li><a href="../../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <article class="post">
            <a href="../blog.html" class="post-tornar">← Tornar al blog</a>

            <h1 class="post-titol">Excursió Llops!!!</h1>
            <p class="post-data">14 de juny de 2017 · Unitat de Llops</p>

            <div class="post-contingut">
                <p>
                    La unitat de Llops és molt gran però molts 
                    nens i nenes tenien la festa de final de curs,
                    així que van haver algunes baixes, vam anar 
                    d'excursió amb una mica més de 10 llops. Vam 
                    anar amb tren fins a la Garriga, a partir 
                    d'allà ens quedaven per deban menys de 20 
                    kilòmetres per anar de la Garriga al Figaró.
                    Durant el camí ens va ploure una mica però 
                    feia tanta calor que gairebé tots els llops 
                    es van acabar tota l'aigua que portaven, però
                    desprès de dinar vam trobar una font on vam
                    poder refrescar-nos i omplir les nostres ampolles. <br>
                    Durant l'excursió vam començar a plantejar 
                    <strong>el nou projecte per al 3r trimestre,</strong> 
                    que el durem a terme aquesta setmana mateix. <br>

                    <br>Sota d'aquest post us deixem algunes de les 
                    <strong>fotografies</strong> que vam fer a l'excursió. <br> 
                    
                    <br>L'activitat del cap de setmana 10-11 la vam fer al Cau. 
                    Vam treballar la <strong>resolució de conflictes</strong> dintre de
                    la unitat i al final vam fer una mica de temps lliure.
                    Algunes <strong>llobes</strong> es van dedicar a treure la seva part
                    més artista. Els pares us vareu donar conta suposu:) <br>

                    <br>Per acabar dir que aquesta setmana és l'última que
                    els <strong>llops</strong> estaran junts com a unitat així que els esperen
                    <strong>sopresetes</strong> i tot un cap de setmana per endeban que passarem
                    tots junts!!!
                </p>

                <div class="post-foto">
                    <img src="../../assets/blog/excursio_llops.jpg" alt="Foto excursio-llops">
                </div>
            </div>

            <div class="post-etiquetes">
                <span class="etiqueta">#llops</span>
                <span class="etiqueta">#excursió</span>
            </div>
        </article>
    </div>
</body>
</html>