<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>MISSATGE RAIERS</title>
    <link rel="stylesheet" href="../../styles/root.css">
    <link rel="stylesheet" href="../../styles/blog.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../../templates/blog.html">Blog</a></li>
                <li><a href="../../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <div class="post">
            <a href="../blog.html" class="post-tornar">← Tornar al blog</a>

            <h1 class="post-titol">MISSATGE DE RAIERS!</h1>
            <p class="post-data">16 de juny de 2017 · Unitat de Llops</p>

            <div class="post-foto-principal">
                <img src="../../assets/blog/foto_sortida_raiers.webp" alt="Foto sortida">
            </div>

            <div class="post-contingut">
                <p>
                    Aquest cap de setmana els raiers del pauk hem caminat (si, si, caminar de veritat) des del cau fins a Barcelona. Entre calipos, guerres d'aigua espontànies i moments de "el suelo es Lava" vam arribar a la platja, on es vam desfer de la calor gràcies a l'aigua del mar!! A més, sabeu què??? Per recaudar diners per la seva ruta (que serà molt xula), els raiers ens han preparat un meravellós restaurant, en el qual cuinaran, serviran, i organitzaran tot ells i elles! Així que no us ho penseu dues vegades, el diumenge 18 de juny, des de les 19:00h teniu sopar al cau!                     
                </p>

                <h2>El Racó del Raier</h2>
                <div class="post-foto">
                    <img src="../../assets/blog/foto_sopar_raiers.avif" alt="Foto sopar">
                </div>
            </div>

            <div class="post-etiquetes">
                <span class="etiqueta">#llops</span>
                <span class="etiqueta">#excursió</span>
                <span class="etiqueta">#sopar</span>
            </div>
        </div>
    </div>
</body>
</html>