<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Títol de l'entrada · AE Pau-K</title>
    <link rel="stylesheet" href="../../styles/root.css">
    <link rel="stylesheet" href="../../styles/blog.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../../templates/blog.html">Blog</a></li>
                <li><a href="../../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <article class="post">
            <a href="../blog.html" class="post-tornar">← Tornar al blog</a>

            <h1 class="post-titol">MOGOLLOPS!</h1>
            <p class="post-data">21 de maig de 2017 · Unitat de Llops</p>

            <div class="post-foto-principal">
                <img src="../../assets/blog/mogollops.jpg" alt="mogollops">
            </div>

            <div class="post-contingut">
                <p>
                    El cap de setmana del 20 i el 21 les llobes
                    i els llops vam marxar a Teia on es feia la MOGOLLOPS !!! <br>
                    
                    <br>Durant aquest dies molts dels CAUs de tota Catalunya
                    vam haver d'unir forçes per ajudar a la Lluna, ja que la
                    llum d'aquesta s'estava apagant. <br>
                    
                    <br> Durant aquesta búsqueda d'ajuda per al nostre estimat
                    satèl·lit, vam fer diversos jocs, vam haver de desxifrar 
                    un missatge amb el qual trobaríem la resposta de com 
                    ajudar a la Lluna, etc. <br>
                    
                    <br>Al final, gracies a totes les llobes i llops ho vam aconseguir!!!! <br>
                    
                    <br>Durant el diumenge, després de fer unes bones matines, desmuntar i
                    guardar totes les tendes, els caps i capesses de cada agrupament van 
                    explicar el joc més jugat per als seus propis llops i llobes. Va ser
                    molt divertit!! <br>
                    
                    <br>Però el més importat de tot es que va ser una molt bona experiència
                    i que la unió de tots els agrupaments no només va ajudar a salvar a la 
                    Lluna, sinó que aquesta unió també va crear amistats i relacions entre 
                    tots els nens i nenes. <br> 
                    
                    <br>Aquí us deixem unes quantes fotos perquè pogeu veure el que vam estar fent: <br>
                </p>

                <h2>Altres fotos</h2>

                <div class="carrusel">

                    <div class="carrusel-pista">
                        <img id="mogo1"  src="../../assets/blog/mogollops/mogollops1.webp"  alt="Foto 1">
                        <img id="mogo2"  src="../../assets/blog/mogollops/mogollops2.webp"  alt="Foto 2" >
                        <img id="mogo3"  src="../../assets/blog/mogollops/mogollops3.webp"  alt="Foto 3" >
                        <img id="mogo4"  src="../../assets/blog/mogollops/mogollops4.webp"  alt="Foto 4" >
                        <img id="mogo5"  src="../../assets/blog/mogollops/mogollops5.webp"  alt="Foto 5" >
                        <img id="mogo6"  src="../../assets/blog/mogollops/mogollops6.webp"  alt="Foto 6" >
                        <img id="mogo7"  src="../../assets/blog/mogollops/mogollops7.webp"  alt="Foto 7" >
                        <img id="mogo8"  src="../../assets/blog/mogollops/mogollops8.webp"  alt="Foto 8" >
                        <img id="mogo9"  src="../../assets/blog/mogollops/mogollops9.webp"  alt="Foto 9" >
                        <img id="mogo10" src="../../assets/blog/mogollops/mogollops10.webp" alt="Foto 10">
                        <img id="mogo11" src="../../assets/blog/mogollops/mogollops11.webp" alt="Foto 11">
                        <img id="mogo12" src="../../assets/blog/mogollops/mogollops12.webp" alt="Foto 12">
                        <img id="mogo13" src="../../assets/blog/mogollops/mogollops13.webp" alt="Foto 13">
                        <img id="mogo14" src="../../assets/blog/mogollops/mogollops14.webp" alt="Foto 14">
                        <img id="mogo15" src="../../assets/blog/mogollops/mogollops15.webp" alt="Foto 15">
                        <img id="mogo16" src="../../assets/blog/mogollops/mogollops16.webp" alt="Foto 16">
                        <img id="mogo17" src="../../assets/blog/mogollops/mogollops17.webp" alt="Foto 17">
                        <img id="mogo18" src="../../assets/blog/mogollops/mogollops18.webp" alt="Foto 18">
                        <img id="mogo19" src="../../assets/blog/mogollops/mogollops19.webp" alt="Foto 19">
                    </div>
                    <button class="fletxa fletxa-esq" onclick="this.parentElement.querySelector('.carrusel-pista').scrollBy({left: -this.parentElement.clientWidth, behavior: 'smooth'})"><</button>
                    <button class="fletxa fletxa-dre" onclick="this.parentElement.querySelector('.carrusel-pista').scrollBy({left: this.parentElement.clientWidth, behavior: 'smooth'})">></button>
                </div>

            </div>

            <div class="post-etiquetes">
                <span class="etiqueta">#llops</span>
                <span class="etiqueta">#excursió</span>
            </div>
        </article>
    </div>
</body>
</html>