<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>SETMANA SANTA!</title>
    <link rel="stylesheet" href="../../styles/root.css">
    <link rel="stylesheet" href="../../styles/blog.css">
</head>
<body>
    <div class="header">
        <div class="header-contingut">
            <ul class="menu">
                <li><img src="../../assets/foulard.png" alt="icona foulard"></li>
                <li><a href="../../index.html">Inici</a></li>
                <li><a href="">El Cau</a>
                    <ul>
                        <li><a href="../../templates/que_fem.html">QUÈ FEM?</a></li>
                        <li><a href="../../templates/com_funcionem.html">COM FUNCIONEM</a></li>
                        <li><a href="../../templates/unitats.html">UNITATS</a></li>
                    </ul>
                </li>
                <li><a href="../../templates/blog.html">Blog</a></li>
                <li><a href="../../templates/contact.html">Contacta'ns</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <article class="post">
            <a href="../blog.html" class="post-tornar">← Tornar al blog</a>

            <h1 class="post-titol">SETMANA SANTA!</h1>
            <p class="post-data">28 de maig de 2026</p>

            <div class="post-contingut">
                <p>
                    Hooooola! S'ha tardat, però així us hem fet la boca aigua... ja tenim aquí el Post de Setmana Santa! Què va fer cada unitat durant els campaments / colònies de Primavera d'aquest 2017? 
                    <br>Estol i Llops vam anar a una casa de colònies a Solsona. Llops va fer una petita ruta, dormint a fora la primera nit, i després es van unir als Estols per descobrir la resta de l'ambientació. Resulta que uns malvats havien robat els amulets a Cocademon, i la tasca dels estols i llops era ajudar als déus a recuperar les seves forces. Si no ho feien, el món podria acabar! Us deixem al final del post un link on podreu veure les fotos de la setmana! Els estols ens van preparar un curtmentratge mut per explicar-nos algunes de les coses que van passar (Perill!!!! molt adorable, pot produir mal de panxa de riure). 
                    <br>Raiers van anar al Cau Rock, de la mà d'uns professors de música molt... diferents per dir-ho d'alguna manera :). Preferim no explicar-vos gaire més, els vídeos valen més que mil paraules. (Mireu el de la presentació per riure una estona! Links a baix de tot també).
                    <br>Secció  vam fer una ruta a Horta de Sant Joan, patrocinada pel famós programa de televisió "Esta hermandad era una ruina!". Els presentadors del programa van guiar la unitat durant 5 dies perquè aquesta s'enfortís, i pogués així assumir els reptes que els esperen aquest tercer trimestre!
                    <br>Klan van fer un raid genial per fora de Catalunya (no en tenim vídeo de moment). 
                </p>

                <h2>Vídeos de Raiers</h2> 
                <p>
                    <a href="https://youtu.be/1ObvCMhkYK4" style="text-decoration: none; color: inherit;">La presentació</a>
                    <br><a href="https://youtu.be/CrJCV0Mf3zI" style="text-decoration: none; color: inherit;">El resum</a> 
                </p>

                <h2>Video de Estol</h2>
                <iframe width="780" height="439" src="https://www.youtube.com/embed/WfJ1edmrvI8" title="Colònies primavera Estol 2017" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen referrerpolicy="strict-origin-when-cross-origin"></iframe>
                
                <h2>FOTOS</h2>
                <div class="carrusel">
                    <div class="carrusel-pista">
                        <img id="acts1"  src="../../assets/blog/ss/ss1.jpg"  alt="Foto 1">
                        <img id="acts1"  src="../../assets/blog/ss/ss2.webp"  alt="Foto 2">
                        <img id="acts1"  src="../../assets/blog/ss/ss3.webp"  alt="Foto 3">
                        <img id="acts1"  src="../../assets/blog/ss/ss4.webp"  alt="Foto 4">
                        <img id="acts1"  src="../../assets/blog/ss/ss5.webp"  alt="Foto 5">
                        <img id="acts1"  src="../../assets/blog/ss/ss6.jpg"  alt="Foto 6">
                        <img id="acts1"  src="../../assets/blog/ss/ss7.jpg"  alt="Foto 7">
                        <img id="acts1"  src="../../assets/blog/ss/ss8.jpg"  alt="Foto 8">
                    </div>
                    <button class="fletxa fletxa-esq" onclick="this.parentElement.querySelector('.carrusel-pista').scrollBy({left: -this.parentElement.clientWidth, behavior: 'smooth'})"><</button>
                    <button class="fletxa fletxa-dre" onclick="this.parentElement.querySelector('.carrusel-pista').scrollBy({left: this.parentElement.clientWidth, behavior: 'smooth'})">></button>
                </div>

            </div>

            <div class="post-etiquetes">
                <span class="etiqueta">#llops</span>
                <span class="etiqueta">#excursió</span>
            </div>
        </article>
    </div>
</body>
</html>